{% extends "base.html" %}

{% block content %}
    <h3>თბილისი აუდიო ასოციაცია</h3>
    <h6>
        მუსიკოსებსა და ხმის არტისტებს ხშირად აკლიათ ერთიანი პლათფორმა, რომელშიც შეძლებენ ერთამნეთთან დაკავშირებას, ცოდნის გაზიარებას, საკუთარი იდეების რეალიზაციას, კონცერტებისა და ვოფქშოფების ჩატარებას. ნაკლებად არის სივრცეები, რომლებიც მხარს დაუჭერს დამწყებ არტისტებს, რადგან მათ ხშირად არ აქვთ სივრცე და აუდიტორია, სადაც გააზიარებენ თავიანთ ცოდნას.
        <br>
        <br>
        ამრიგად, თბილისი აუდიო ასოციაცია ისახავს მიზნად შეუქმნას არტისტებს, მუსიკოსებს და მუსიკალური განხრით დასაქმებულ ადამიანებს კომფორტული გარემო, რათა განავითარონ თავიანთი პროფესია, გააერთიანოს დაინტერესებული ადამიანები, ხელმისაწვდომი იყოს ეს ინფორმაციები.
        <br>
        <br>
        ხელოვანებს განვითარებისთვისა და წინსვლისთვის სჭირდებათ არა მხოლოდ ტექნიკური რესურსები, არამედ მხარდამჭერი საზოგადოება, რომელშიც მათი იდეები მიღებული და დაფასებული იქნება. მათთვის მნიშვნელოვანია სივრცე, რომელიც უსაფრთხო, კომფორტული და საინტერესო იქნება.
    </h6>
{% endblock %}