<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TSA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">მთავარი</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/workshops">კონცერტები/სემინარები</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">ჩვენს შესახებ</a>
        </li>
      </ul>

      <form class="d-flex ms-auto">
        {% if current_user.is_authenticated %}
          <span class="navbar-text me-3">
            <a href="/profile" class="text-decoration-none text-dark">
              <strong>{{ current_user.username }}</strong>

            </a>
          </span>
          <a class="btn btn-outline-danger" href="/logout">გამოსვლა</a>
        {% else %}
          <a class="btn btn-outline-success me-2" href="/login">შესვლა</a>
          <a class="btn btn-success" href="/signup">რეგისტრაცია</a>
        {% endif %}
      </form>
    </div>
  </div>
</nav>